    <!-- Footer -->
    <footer class="navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
 <marquee direction="right"> <font size=3 color= white> <b> ©2020 Copyright: ATD.AdTekDev - Edited by NVT !!! </b></font></marquee>
            </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->